//@import button;

@media screen and (min-width:1200px) {

    body {
    background-image: url(/images/backGround4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%; 
    background-size: cover;
	opacity: 0.9;
    }

    #footer a {
        color:#eee;
    }
}
